/*----navbar starts----*/
.navbar {
    text-align: center;
    background-color: red;
}
/*----navbar ends----*/

/*----nav cards starts----*/
.card {
    width: 250px;
    height: 250px;
    margin: 25px;
    margin-left: 55px;
}
/*----nav cards ends----*/

/*----about starts----*/

h3 {
    margin-top: 50px;
    margin-bottom: 50px;;
    text-align: center;
}

.bio {
    border-color: black;
}

/*----about ends----*/

/*----footer starts----*/

footer {
    margin-top: auto;
    text-align: center;
    background-color: red;
}

/*----footer ends----*/