@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

body {
    background-color: beige;
}
/*----navbar starts----*/
.navbar {
    display: flex;
    text-align: center;
    background-color: black;
    width: 100%;
    color: white;
    font-family: Special Elite;
}

.navbar-brand {
    margin: 15px 0px 0px 50px;
 }

nav:after {
    content: '';
    clear: both;
    display: table;
}

.navbar-links ul {
    flex: auto;
    list-style: none;
    margin: 0 40px;
    position: relative;
    display: inline-block;
}

.navbar-links ul li {
    margin-right: 60px;
    display: inline-flex;
}

.navbar-links ul li a {
    color: white;    
}

.navbar-links ul li a:hover {
    color: gray;
}

.toggle-button {
    position: absolute;
    display: none;
    top: 25px;
    right: 30px;
    justify-content: space-between;
    flex-direction: column;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 5px;
    width: 100%;
    background-color: white;
    border-radius: 20px;
}

.toggle-button .bar:hover {
    color: gray;
}
/*----navbar ends----*/

/*----images starts----*/
.headphones {
    position: relative;
    width: 100%;
    padding: 0;
    border: 5px solid;
    border-color: black;
}

.no-gutters {
    padding: 0;
}

/*----images ends----*/

/*----about starts----*/

h3 {
    margin-top: 50px;
    margin-bottom: 50px;;
    text-align: center;
    font-family: Special Elite;
}

.bio {
    border-color: black;
}
/*----about ends----*/

/*----skills starts----*/

h5 {
    margin: 20px;
    font-family: Special Elite;
}

.skills {
    margin-left: 360px;
    margin-bottom: 15px;
}

a {
   color: black;
   text-decoration: none; 
   border: 2px;
}

a:hover {
   color: darkgrey;
   text-decoration: none; 
   border: 2px;
}

.bar {
    display: inline-flex;
}

.circle {
    margin-left: 25px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: darkgray;
    border: 2px solid darkgray;
}

.circle1 {
    margin-left: 25px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: whitesmoke;
    border: 2px solid rgb(199, 198, 198);
}

/*----skills ends----*/

/*----contact starts----*/

form {
    margin: 10px;
}

label {
    margin: 10px;
}

.submit {
    margin-left: 100px;
}

.reach {
    font-family: Special Elite;
    text-align: center;
    font-size: large;
}

.working {
    margin-bottom: 80px;
}

/*----contact ends----*/

/*----back to top starts----*/

#up {
  display: none;
  position: fixed; 
  bottom: 80px;
  right: 10px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: rgb(218, 218, 218); 
  color: rgb(12, 12, 12); 
  cursor: pointer; 
  padding: 15px; 
  border-radius: 10px; 
  font-size: 20px; 
}

#up:hover {
 background-color: rgb(0, 0, 0);
 color: white;
}

/*----back to top ends ----*/

/*----footer starts----*/

footer {
    text-align: center;
    background-color: rgb(3, 3, 3);
    height: 73px;
}

footer p {
    font-family: Special Elite;
    font-size: 20px;
    color: white;
    margin-top: 10px;
}

footer p i{
    font-family: Special Elite;
    font-size: 20px;
    color: white;
    margin-top: 10px;
}

/*----footer ends----*/

/*----Media Queries starts----*/

@media (min-width: 320px) {
/*----navbar starts----*/
.navbar {
    flex-direction: column;
    align-items: flex-start;
}

.navbar-links ul {
    flex-direction: column;
}

.navbar-links li {
    text-align: center;
}

.navbar-links.active {
    display: flex;
}

.navbar-brand {
    margin: 10px 0px 0px 9px;
}

.toggle-button {
    display: flex;
}

.navbar-links {
    display: none;
} 

/*----navbar ends----*/

/*----about starts----*/
.headshot {
    float: left;
    height: 420px;
    width: 315px;
    border: 2px solid black;
}

.bio {
    margin: 50px 150px;
    
}

.container {
    margin: 10px;
}

.para {
    margin-left: 370px;
    font-family: Special Elite;
    font-size: 17px;
}
/*----about ends----*/





/*----skills starts----*/

h5 {
    margin: 8px;
}

.skills {
    margin-left: 20px;
    margin-bottom: 15px;
}

a {
   color: black;
   text-decoration: none; 
   border: 2px;
}

a:hover {
   color: darkgrey;
   text-decoration: none; 
   border: 2px;
}

.bar {
    display: inline-flex;
}

.circle {
    margin-left: 7px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: darkgray;
    border: 2px solid darkgray;
}

.circle1 {
    margin-left: 7px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: whitesmoke;
    border: 2px solid rgb(199, 198, 198);
}

/*----skills ends----*/
/* ----projects starts----*/
.card {
    margin: 20px 0 40px 0;
    width: 296px;
    padding: 0;
}

.card-img-top {
    height: 178px;
    width: 295px;
/*----projects ends---- */
}

}

@media (min-width: 375px) {
/*----navbar starts----*/
.navbar {
    flex-direction: column;
    align-items: flex-start;
}

.navbar-links ul {
    flex-direction: column;
    margin: 0px 50px;
}

.navbar-links li {
    text-align: center;
}

.navbar-links.active {
    display: flex;
}

.toggle-button {
    display: flex;
}

.navbar-links {
    display: none;
    width: 100%;
}

/*----navbar ends----*/
/*----skills starts----*/

h5 {
    margin: 8px;
}

.skills {
    margin-left: 45px;
    margin-bottom: 15px;
}

a {
   color: black;
   text-decoration: none; 
   border: 2px;
}

a:hover {
   color: darkgrey;
   text-decoration: none; 
   border: 2px;
}

.bar {
    display: inline-flex;
}

.circle {
    margin-left: 7px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: darkgray;
    border: 2px solid darkgray;
}

.circle1 {
    margin-left: 7px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: whitesmoke;
    border: 2px solid rgb(199, 198, 198);
}

/*----skills ends----*/
/* ----projects starts----*/
.card {
    margin: 20px 0 40px 30px;
    width: 296px;
    padding: 0;
}

/* .card-img-top {
    height: 178px;
    width: 295px; 
}*/
/*----projects ends---- */

}

@media (min-width: 425px) {
/*----navbar starts----*/

.toggle-button {
    display: flex;
}

.navbar-links {
    display: none;
}

.navbar-links ul {
    flex-direction: column;
    margin: 0px 73px;
}

/*----navbar ends----*/
/*----skills starts----*/
h5 {
    margin: 10px;
}

.skills {
    margin-left: 50px;
    margin-bottom: 15px;
}

a {
   color: black;
   text-decoration: none; 
   border: 2px;
}

a:hover {
   color: darkgrey;
   text-decoration: none; 
   border: 2px;
}

.bar {
    display: inline-flex;
}

.circle {
    margin-left: 7px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: darkgray;
    border: 2px solid darkgray;
}

.circle1 {
    margin-left: 7px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: whitesmoke;
    border: 2px solid rgb(199, 198, 198);
}

/*----skills ends----*/

/* ----projects starts----*/
.card {
    margin: 20px 0 40px 60px;
    width: 296px;
    padding: 0;
}

/* .card-img-top {
    height: 178px;
    width: 295px;
} */
/*----projects ends---- */

}

@media (min-width: 768px) {
/*----navbar starts----*/

.toggle-button {
    display: flex;
}

.navbar-links {
    display: none;
}

.navbar-links ul {
    flex-direction: column;
    margin: 0px 244px;
}

/*----navbar ends----*/
/*----skills starts----*/
h5 {
    margin: 10px;
}

.skills {
    margin-left: 200px;
    margin-bottom: 15px;
}

a {
   color: black;
   text-decoration: none; 
   border: 2px;
}

a:hover {
   color: darkgrey;
   text-decoration: none; 
   border: 2px;
}

.bar {
    display: inline-flex;
}

.circle {
    margin-left: 8px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: darkgray;
    border: 2px solid darkgray;
}

.circle1 {
    margin-left: 8px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: whitesmoke;
    border: 2px solid rgb(199, 198, 198);
}

/*----skills ends----*/

/* ----projects starts----*/
.card {
    margin: 20px 0 40px 40px;
    width: 296px;
    padding: 0;
}
/*----projects ends---- */

}

@media (min-width: 992px) {
/*----navbar starts----*/
.navbar {
    flex-wrap: nowrap;
}
.toggle-button {
    display: none;
}

.navbar-links {
    display: flex;
}

.navbar-links ul {
    flex-direction: column;
    margin: 0;
    margin-left: 104px;
}

/*----navbar ends----*/
/*----skills starts----*/
h5 {
    margin: 15px;
}

.skills {
    margin-left: 250px;
    margin-bottom: 15px;
}

a {
   color: black;
   text-decoration: none; 
   border: 2px;
}

a:hover {
   color: darkgrey;
   text-decoration: none; 
   border: 2px;
}

.bar {
    display: inline-flex;
}

.circle {
    margin-left: 15px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: darkgray;
    border: 2px solid darkgray;
}

.circle1 {
    margin-left: 15px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: whitesmoke;
    border: 2px solid rgb(199, 198, 198);
}

/*----skills ends----*/
/* ----projects starts----*/
.card {
    margin: 20px 0 40px 90px;
    width: 296px;
    padding: 0;
}
/*----projects ends---- */
}

@media (min-width: 1200px) {
/*----navbar starts----*/

.toggle-button {
    display: none;
}

.navbar-brand {
    margin: 10px 0px 0px 40px;
}

.navbar-links {
    display: flex;
}

.navbar-links ul {
    flex-direction: column;
    margin: 0;
    margin-left: 380px;
}

/*----navbar ends----*/

/*----about starts----*/
.headshot {
    float: left;
    height: 420px;
    width: 315px;
    border: 2px solid black;
}

.bio {
    margin: 50px 150px;
    
}

.container {
    margin: 10px;
}

.para {
    margin-left: 370px;
    font-family: Special Elite;
    font-size: 17px;
}
/*----about ends----*/

/*----skills starts----*/

h5 {
    margin: 15px;
}

.myskills {
    margin-top: 180px;
}

.skills {
    margin-left: 360px;
    margin-bottom: 100px;
}

a {
   color: black;
   text-decoration: none; 
   border: 2px;
}

a:hover {
   color: darkgrey;
   text-decoration: none; 
   border: 2px;
}

.bar {
    display: inline-flex;
}

.circle {
    margin-left: 25px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: darkgray;
    border: 2px solid darkgray;
}

.circle1 {
    margin-left: 25px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: whitesmoke;
    border: 2px solid rgb(199, 198, 198);
}
/*----skills ends----*/

/* ----projects starts----*/
.card {
    margin: 20px 0px 40px 140px;
    width: 423px;
    padding: 0;
}

.card-img-top {
    height: 250px;
    width: 423px;
}

.more {
    text-align: center;
    font-family: Special Elite;
    font-size: 17px;
}
/*----projects ends---- */

/*-----contact starts----*/
fieldset{
    margin: 50px 300px;
    border: 5px solid lightgray;
}

label {
    margin: 15px 15px 15px 50px;
}

#firstname {
    margin-left: 10px;
}

#email {
    margin-left: 15px;
}

.info {
    width: 250px;
}
/*-----contact ends-----*/
}

@media (min-width: 2560px) {
/*----navbar starts----*/

.toggle-button {
    display: none;
}

.navbar-brand {
    margin: 10px 0px 0px 76px;
}

.navbar-links {
    display: flex;
}

.navbar-links ul {
    flex-direction: column;
    margin: 0;
    margin-left: 1500px;
}

/*----navbar ends----*/

/*----about starts----*/
.headshot {
    float: left;
    height: 200px;
    width: 200px;
    border: 2px dotted red;
}

.bio {
    margin: 50px 150px;
}

.container {
    margin: 10px;
}

.para {
    margin-left: 240px;
}
/*----about ends----*/


/*----skills starts----*/

h5 {
    margin: 15px;
}

.skills {
    margin-left: 900px;
    margin-bottom: 100px;
}

a {
   color: black;
   text-decoration: none; 
   border: 2px;
}

a:hover {
   color: darkgrey;
   text-decoration: none; 
   border: 2px;
}

.bar {
    display: inline-flex;
}

.circle {
    margin-left: 25px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: darkgray;
    border: 2px solid darkgray;
}

.circle1 {
    margin-left: 25px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: whitesmoke;
    border: 2px solid rgb(199, 198, 198);
}

/*----skills ends----*/
/* ----projects starts----*/
.card {
    margin: 20px 0 40px 380px;
    width: 296px;
    padding: 0;
}
/*----projects ends---- */
    
}
